<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
		 stopOnFailure="true"
		 syntaxCheck="true"
		 bootstrap="tests/bootstrap.php"
		 beStrictAboutCoversAnnotation="true"
		 verbose="true">


	<testsuites>
		<testsuite name="default">
			<directory>tests/default</directory>
		</testsuite>
		<!--
		<testsuite name="mysql">
			<directory>tests/mysql</directory>
		</testsuite>
		-->
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>src</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-html"   target="build/logs/html/"/>
		<log type="testdox-html"    target="build/logs/testdox.html"/>
		<log type="coverage-text"   target="php://stdout" showUncoveredFiles="true" />
		<var name="DB_SETUP"  value="sql/install.sql.txt" />
	</logging>

</phpunit>
